.current-weather {
    display: flex;
    flex-direction: column;
}

.city-name {
    transform: translate(0, -1rem);
}

.title {
    font-size: 1.5rem;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 3px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column,
.weather-icon,
.current-temp {
    width: 25%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
}

.weather-icon {
    width: inherit;
}
.current-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.city-date,
.city-time {
    font-size: 1.2rem;
}
