.search-history {
    margin-bottom: 1.5rem;
}

.search-history > div{
    cursor: pointer;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    display: inline-block;
    margin:0;
}

.search-history > div:hover,
.search-history > div:active,
.search-history > div:focus {
    color: #092834;
    background-color: #E4F1F6;
    border-radius: 2px;
}

.bold {
    font-weight: bold;
    font-size: 0.8rem;
}

